html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
    margin:0;
    padding:0;
    border:0;
    outline:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
}

body {
    line-height:1;
}

article,aside,details,figcaption,figure,
footer,header,hgroup,menu,nav,section { 
    display:block;
}

nav ul {
    list-style:none;
}

blockquote, q {
    quotes:none;
}

blockquote:before, blockquote:after,
q:before, q:after {
    content:'';
    content:none;
}

a {
    margin:0;
    padding:0;
    font-size:100%;
    vertical-align:baseline;
    background: none;
    text-decoration: none;
}

button{
    background-color: rgba(0, 0, 0, 0)  ;
}
/* change colours to suit your needs */

ins {
    background-color:#ff9;
    color:#000;
    text-decoration:none;
}

/* change colours to suit your needs */

mark {
    background-color:#ff9;
    color:#000; 
    font-style:italic;
    font-weight:bold;
}

del {
    text-decoration: line-through;
}


table {
    border-collapse:collapse;
    border-spacing:0;
}

/* change border colour to suit your needs */
hr {
    display:block;
    height:1px;
    border:0;   
    border-top:1px solid #cccccc;
    margin:1em 0;
    padding:0;
}

input, select {
    vertical-align:middle;
}




/*****************************************/


.menuPhone{
    height: 50px;
    width: auto;

}



body {
    font-family: Oswald, sans-serif;
    background: rgb(233,10,10);
    background: linear-gradient(119deg, rgba(233,10,10,1) 21%, rgba(205,34,39,1) 38%, rgba(0,212,255,1) 70%);
    /*background-color: #016FB9;*/
    color: #800E13;
    text-align: center;
    overflow-x: hidden;

}

/******HEADER*****/

.hidden{
    display: none;
}

header h2{
    display: none;
}

header .navbar_option{
    display: hidden;
}


header{
    overflow: hidden;
    position: fixed;
    top: 0;
    width: 100%;
    height: max-content;
    display: flex;
    justify-content: space-around;
    align-items: center;
    z-index: 1;    
    background-color: #000;
    
}


#header_logo{
    width: 300px;
    height: auto;
}



/*****FOOTER*******/
footer{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    padding: 10px 0px 10px 0px;
    height: 100px;
    width: 100%;
    background-color: #cccccc2b ;
} 


.footer_social{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    padding-bottom: 20px;
}

.footer_social a{
    color: #800E13;
}

.footer_social a img{
    height: 50px;
    width: auto;
}

.footer_social img:hover{
    height: 53px;
    width: auto;
    
}

